*.log
*.pid
*.zip
*.mp3
*.log.*
.vs
logs/*
config/*
config.php
sessions/*
audio_files*
sessions
test
output
myenv
venv
downloads
combined.txt
update
restart

*.sublime-project
*.sublime-workspace

git-push-requlay.cmd

/vendor

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
