:root {
    --primary: #0d6efd;
    --secondary: #6c757d;
    --success: #198754;
    --info: #819295 !important;
    --light: #f8f9fa;
    --color: #EEE;
    --player-bg: rgba(28, 28, 28, 0.3);
    --play-button: #494747;
    --play-button-hover: #FF3333;
    --play-buttons-ext: rgba(255, 255, 255, 0.1);
    --play-buttons-ext-hover: rgba(255, 255, 255, 0.2);
    --play-buttons-ext-border: rgba(255, 255, 255, 0.2);
    --play-buttons-ext-border-hover: rgba(255, 255, 255, 0.3);
    --player-border: rgba(255, 255, 255, 0.1);
    --item-current: #f8f9fa;
    --item-current-bg: #00568975;
    --item-current-shadow: #00568975;
    --item-hover: #f8f9fa;
    --tv-color: rgba(0, 220, 255);
    --play-border-color: #FFF;
    --success-color: green;
    --loss-color: red;
    --correct-color: #66AA66;
    --award-color: #d38100;
}

.accordion {
    --bs-accordion-bg: none;
    --bs-accordion-border-color: none;
    --bs-accordion-transition: height 0.35s ease, opacity 0.3s ease;
    --bs-accordion-body-padding-x: 0px;
}

[data-bs-theme="dark"] {
    --target: rgb(13, 202, 240);
    --bs-heading-color: #dedede99;
    --bs-badge-color: #EEE !important;
    --warning: #ffc107;
    --danger: #dc3545;
    --dark: #212529;
    --dark2: #0b2135;
    --darker: #121416;
    --gray: #adb5bd;
    --bs-btn-color: gray !important;
    --max-width: 900px;
    --bs-body-bg: #212529;
    --max-contrast: white;
    --text-shadow: rgba(0, 0, 0, 0.3);
    --slider-thumb: rgba(13, 110, 253, 0.5);
    --text-g1: #0067ff03;
    --bs-purple: #9479c5;
    --box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3),
                inset 0 1px 0 rgba(255, 255, 255, 0.1);
    --gradient: linear-gradient(145deg, #2d3338, #1a1d20);
}

[data-bs-theme="dark"] .modal-content.bg-form {
    background: linear-gradient(145deg, #2d3338, #1a1d20);
}

/*LIGHT*/



[data-bs-theme="light"] {
    --color1_dark_down: #4C036F;
    --color1_dark: #622480;
    --color1_midle: #7608AA;
    --color1_light_down: #A43DD4;
    --color1_light: #B165D4;

    --color2_dark: #A1A500;
    --color2_middle: #F7FE00;
/*-------------------------*/

    --primary: var(--color1_dark_down);
    --max-contrast: var(--color1_dark_down);
    --info: #666 !important;
    --text-g1: #e5e5e5;
    --target: var(--color1_dark);
    --text-shadow: rgba(0, 0, 0, 0.2);
    --bs-info-rgb: gray;
    --slider-thumb: rgba(0, 0, 0, 0.5);
    --bs-heading-color: gray;
    --bs-bg-opacity: 1;
    --color: #212529;
    --bs-primary-rgb: var(--color1_midle);
    --bs-progress-bar-bg: var(--color1_midle);
    --play-button-hover: #BBBE30;
    --player-bg: white;
    --play-buttons-ext: var(--color1_light_down);
    --play-buttons-ext-hover: var(--color1_light);
    --play-buttons-ext-border: var(--color1_dark);
    --play-buttons-ext-border-hover: var(--color1_dark_down);
    --player-border: #444;
    --item-current: var(--color1_dark_down);
    --item-current-bg: #FFFFFF00;
    --item-current-shadow: var(--color1_light);
    --item-hover: var(--color1_dark_down);
    --bs-border-color: var(--color1_light);
    --tv-color: white;
    --play-border-color: var(--color1_dark_down);
    --box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3),
                inset 0 1px 0 rgba(255, 255, 255, 0.1);
    --gradient: linear-gradient(145deg, #dbdbdb, #d5d5d5);
}

[data-bs-theme="light"] .btn-primary {
    --bs-btn-bg: var(--color2_dark);
    --bs-btn-border-color: #7c7f00;
    --bs-btn-hover-bg: #747700;
}

[data-bs-theme="light"] .bg-primary {
    background-color: var(--bs-primary-rgb) !important;
}

[data-bs-theme="light"] .btn-outline-primary {
    --bs-btn-border-color: var(--color1_dark_down);
    --bs-btn-color: var(--color1_dark_down);
    --bs-btn-hover-bg: #BBBE30;
    --bs-btn-hover-border-color: var(--color1_dark_down);
}

[data-bs-theme="light"] .form-check-input:checked {
    background-color: var(--color1_dark_down);
    border-color: var(--color1_dark);
} 

[data-bs-theme="light"] input:focus,
[data-bs-theme="light"] select:focus {
    border-color: var(--color1_dark);
    box-shadow: 0 0 0 .25rem color-mix(in srgb, var(--color1_dark) 30%, transparent);
}

[data-bs-theme="light"] .water-effect {
    background: none;
}

[data-bs-theme="light"] .modal-backdrop {
    --bs-backdrop-bg: white;
}

[data-bs-theme="light"] .modal {
    --bs-modal-box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 32%);
}

[data-bs-theme="light"] .form-select {
    border-color: var(--color1_dark) !important;
}

/* Для выбранного option внутри select */
[data-bs-theme="light"] select option:checked,
[data-bs-theme="light"] select option:hover {
  background-color: var(--color2_middle);
}
